<html>
	<head>
		<meta charset="utf-8">
		<title>What's Your Six? | Cities</title>
		<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../assets/css/create-profile.css">
	</head>
	<body>
		<h2>What's Your Six Group's Database. </h2>
		<nav class="navbar navbar-default navbar-expand-md navbar-fixed-top" style="background-color: #212121; font-size: 17px; font-weight: bold">
			<div id="group-brand" class="container-fluid">
					<button data-toggle="collapse"
					data-target="#navcol-3"
					class="navbar-toggler">
					<span class="sr-only">Toggle navigation</span>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navcol-3">
					<ul class="nav navbar-nav">
						<li role="presentation" class="nav-item">
							<a href="index.html" class="nav-link active">
								Home
							</a>
						</li>
							<!--   <li role="presentation" class="nav-item">
							<a href="tips.html" class="nav-link">
								Current Trips
							</a>
						</li>
						<li role="presentation" class="nav-item">
							<a href="choose_a_trip.html" class="nav-link">
								Plan a trip
							</a>
						</li>
							-->
						<li role="presentation" class="nav-item">
							<a href="/city" class="nav-link">
								Explore Cities
							</a>
						</li>
						<li role="presentation" class="nav-item">
							<a href="/hotel" class="nav-link">
								Explore Hotels
							</a>
						</li>
						<li role="presentation" class="nav-item">
							<a href="/airline" class="nav-link">
								Explore Airlines
							</a>
						</li>
						<li role="presentation" class="nav-item">
							<a href="/activity" class="nav-link">
								Explore Activities
							</a>
						</li>
						<li role="presentation" class="nav-item">
							<a href="/traveler" class="nav-link">
								Lookup Travelers
							</a>
						</li>
						<li role="presentation" class="nav-item">
							<a href="create-profile.html" class="nav-link">
								Profile
							</a>
						</li>
						<li role="presentation" class="nav-item">
							<a href="#" class="nav-link"></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	
		<br>
		<br/>


		<h3>Add new city:</h3>
			<form id="addCity" action="/city" method="post">
				City name: <input type="text" name="name"><br>
				State: <input type="text" name="state"><br>
				<input type="submit" value="Submit">
			</form>
		<br/>

		<form id='filter_city' action='' method=''>
			<!--- this form does not submit directly, the button handles all the interaction with backend -->
			<label> Filter by State </label>
			<select id='state_filter' name='state'> 
				{{#each state}}
				<option value='{{state}}'>{{state}}</option>
				{{/each}}
			</select><br>
			<input type="button" value="Filter" onclick="filterCity()">
		</form>

		<h3>Current Cities:</h3>
		<table>
			<thead> 
				<th>City Name</th> 
				<th>State</th> 
				</thead> 
			<tbody>
				{{#each city}} 
					<tr> 
						<td>{{name}}</td> 
						<td>{{state}}</td> 
						<td><button onclick="deleteCity({{id}})">Delete</button></td>
						<td><a href="/city/{{id}}">Update</a></td>
					</tr> 
				{{else}}
					<b> No cities are found in the database! Put some in using the form. </b>
				{{/each}} 
			</tbody> 
		</table> 

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
		<script src="../assets/js/app.js"></script>
		<script src="../assets/js/create-profile.js"></script>
	</body>
</html>
