<html>
	<head>
		<meta charset="utf-8">
		<title>What's Your Six? | Cities</title>
		<link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../public/assets/css/create-profile.css">
	</head>
	<body>
	
		<br>
		<br/>


		<h3>Add new city:</h3>
			<form id="addCity" action="/city" method="post">
				City name: <input type="text" name="name"><br>
				State: <input type="text" name="state"><br>
				<input type="submit" value="Submit">
			</form>
		<br/>

		<form id='filter_city' action='' method=''>
			<!--- this form does not submit directly, the button handles all the interaction with backend -->
			<label> Filter by State </label>
			<select id='state_filter' name='state'> 
				{{#each state}}
				<option value='{{state}}'>{{state}}</option>
				{{/each}}
			</select><br>
			<input type="button" value="Filter" onclick="filterCity()">
		</form>

		<h3>Current Cities:</h3>
		<table id="tableFormat">
			<thead> 
				<th>City Name</th> 
				<th>State</th> 
				<th>Delete</th>
				<th>Update</th>
			</thead> 
			<tbody>
				{{#each city}} 
					<tr> 
						<td>{{name}}</td> 
						<td>{{state}}</td> 
						<td><button onclick="deleteCity({{id}})">Delete</button></td>
						<td><a href="/city/{{id}}">Update</a></td>
					</tr> 
				{{else}}
					<b> No cities are found in the database! Put some in using the form. </b>
				{{/each}} 
			</tbody> 
		</table> 

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
		<script src="../assets/js/app.js"></script>
		<script src="../assets/js/create-profile.js"></script>
	</body>
</html>
