<html>
<head>
	<meta charset="utf-8">
	<title>What's Your Six? | Destination Types</title>
                <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
                <link rel="stylesheet" href="assets/css/create-profile.css">	
	</head>
<body>

  <br/>
<h3>Add destination type to a city:</h3>
<form id="adddestinationtype" action="/destinationtype" method="post">
    City: <select name='city_id'>
        {{#each cities}}
          <option value='{{id}}'>{{name}}</option>
        {{/each}}
    </select>
	Type: <input type="text" name="type"><br>
	<input type="submit" value="Submit">
 </form>
<br/>

<h3>Current Cities Destinations:</h3>
<table id="tableFormat">
    <thead> 
        <th>City Name</th> 
        <th>Type</th> 
	<th>Delete</th>
	<th>Update</th>
    </thead> 
    <tbody>
        {{#each destination_type}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{type}}</td> 
            <td><button onclick="deleteDestinationType({{id}})">Delete</button></td>
            <td><a href="/destinationtype/{{id}}">Update</a></td>
        </tr> 
		{{else}}
		<b> No cities are found in the database! Put some in using the form. </b>
        {{/each}} 
    </tbody> 
</table> 

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
                <script src="assets/js/app.js"></script>
                <script src="assets/js/create-profile.js"></script>
        </body>


</html>
