<html>
<head>
	<meta charset="utf-8">
	<title>What's Your Six? | Travelers</title>
	        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
                <link rel="stylesheet" href="assets/css/create-profile.css">
	</head>
<body>


<h3>Add new traveler:</h3>
<form id="addTraveler" action="/traveler" method="post">
    Traveler name: <input type="text" name="traveler"><br>
    Street: <input type="text" name="street"><br>
	City: <input type="text" name="city"><br>
	State: <input type="text" name="state"><br>
	Zip Code: <input type="text" name="zipCode"><br>
	Email: <input type="text" name="email"><br>
	Phone: <input type="text" name="phone"><br>
 </form>
<br/>


<h3>Current Travelers:</h3>
<table id="tableFormat">
    <thead> 
        <th>Traveler Name</th> 
        <th>Street</th>
	<th>City</th>
	<th>State</th>
	<th>Zip Code</th>
	<th>Email Address</th>
	<th>Phone Number</th>
	<th>Delete</th>
	<th>Update</th>
    </thead> 
    <tbody>
        {{#each traveler}} 
        <tr> 
            <td>{{name}}</td> 
            <td>{{address_street}}</td>
	    <td>{{address_city}}</td>
	    <td>{{address_state}}</td>
	    <td>{{address_zip_code}}</td>
	    <td>{{email_address}}</td>
	    <td>{{phone_number}}</td>
            <td><button onclick="deleteTraveler({{id}})">Delete</button></td>
            <td><a href="/traveler/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
                <script src="assets/js/app.js"></script>
                <script src="assets/js/create-profile.js"></script>
        </body>
</html>
