<html>
<head>
	<meta charset="utf-8">
	<title>What's Your Six? | Trip Criteria</title>
	        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
                <link rel="stylesheet" href="assets/css/create-profile.css">
	</head>
<body>
    
<h3> Display Trip Criteria </h3>
<form id="addtripcriteria" action="/tripcriteria" method="post">
    Traveler: <select name='travelers_id'>
        {{#each traveler}}
          <option value='{{id}}'>{{name}}</option>
        {{/each}}
    </select>
	<br>
	Starting City: <select name='starting_city_id'>
        {{#each cities}}
          <option value='{{id}}'>{{name}}</option>
        {{/each}}
    </select>
	<br>
	Start date: <input type="date" name="start_date"><br>
	End date: <input type="date" name="end_date"><br>
    Max Budget: <input type="number" name="max_budget"><br>
	Destination Type: <select name='destination_type_id'>
        {{#each destination_type}}
          <option value='{{id}}'>{{type}}</option>
        {{/each}}
    </select>
	<br>
    <input type="submit" value="Submit"><
	</form>
<br/>

<h3>Current Trip Criteria:</h3>
<table>
    <thead> 
        <th>Traveler</th> 
        <th>Starting City</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Max Budget</th>
		<th>Destination Type</th>
    </thead> 
    <tbody>
        {{#each trip_criteria}} 
        <tr> 
            <td>{{trav_name}}</td> 
            <td>{{city_name}}</td>
			<td>{{start_date}}</td>
			<td>{{end_date}}</td>
			<td>{{max_budget}}</td>
			<td>{{type}}</td>
            <td><button onclick="deleteHotelPrice({{hotel_id}})">Delete</button></td>
            <td><a href="/hotel/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
                <script src="assets/js/app.js"></script>
                <script src="assets/js/create-profile.js"></script>
        </body>

</html>
