<html>
<head>
	<meta charset="utf-8">
	<title>What's Your Six? | Update Activity</title>
	
                <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
                <link rel="stylesheet" href="../assets/css/create-profile.css">
	</head>
<body>


<h3>Update {{activity.name}}'s Attributes:</h3>
<form id="update-activity" action="/activity" method="post">
    Activity Name: <input type="text" name="name" value="{{activity.name}}"><br>
    Phone Number: <input type="text" name="phone_number" value="{{activity.phone_number}}"><br>
    City: <select name="city_id" id="city-selector"> 
        {{#each cities}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
</select><br>
</form>
<button onclick="updateActivity({{activity.id}});">Update</button>
<script defer>selectCity({{activity.city_id}});</script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
                <script src="../assets/js/app.js"></script>
                <script src="../assets/js/create-profile.js"></script>
        </body>

</html>
