<html>
<head>
	<meta charset="utf-8">
	<title>What's Your Six? | Update Traveler</title>
	        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
                <link rel="stylesheet" href="../assets/css/create-profile.css">
	</head>
<body>
  <h2>What's Your Six Group's Database. </h2>
<nav class="navbar navbar-default navbar-expand-md navbar-fixed-top" style="background-color: #212121; font-size: 17px; font-weight: bold">
		<div id="group-brand" class="container-fluid">
						<button data-toggle="collapse"
						data-target="#navcol-3"
						class="navbar-toggler">
						<span class="sr-only">Toggle navigation</span>
						<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navcol-3">
						<ul class="nav navbar-nav">
								<li role="presentation" class="nav-item">
										<a href="index.html" class="nav-link active">
												Home
										</a>
								</li>
										<!--   <li role="presentation" class="nav-item">
										<a href="tips.html" class="nav-link">
												Current Trips
										</a>
								</li>
								<li role="presentation" class="nav-item">
										<a href="choose_a_trip.html" class="nav-link">
												Plan a trip
										</a>
								</li>
										-->
								<li role="presentation" class="nav-item">
										<a href="/city" class="nav-link">
												Explore Cities
										</a>
								</li>
								<li role="presentation" class="nav-item">
										<a href="/hotel" class="nav-link">
												Explore Hotels
										</a>
								</li>
								<li role="presentation" class="nav-item">
										<a href="/airline" class="nav-link">
												Explore Airlines
										</a>
								</li>
								<li role="presentation" class="nav-item">
										<a href="/activity" class="nav-link">
												Explore Activities
										</a>
								</li>
								<li role="presentation" class="nav-item">
										<a href="/traveler" class="nav-link">
												Lookup Travelers
										</a>
								</li>
								<li role="presentation" class="nav-item">
										<a href="create-profile.html" class="nav-link">
												Profile
										</a>
								</li>
								<li role="presentation" class="nav-item">
										<a href="#" class="nav-link"></a>
								</li>
						</ul>
				</div>
		</div>
</nav>


<h3>Update {{traveler.name}}'s Attributes:</h3>
<form id="update-traveler" action="/traveler" method="post">
    Traveler Name: <input type="text" name="name" value="{{traveler.name}}"><br>
    Street: <input type="text" name="address_street" value="{{traveler.address_street}}"><br>
	City: <input type="text" name="address_city" value="{{traveler.address_city}}"><br>
	State: <input type="text" name="address_state" value="{{traveler.address_state}}"><br>
	Zip Code: <input type="text" name="address_zip_code" value="{{traveler.address_zip_code}}"><br>
	Email: <input type="text" name="email_address" value="{{traveler.email_address}}"><br>
	Phone: <input type="text" name="phone_number" value="{{traveler.phone_number}}"><br>
</form>
<button onclick="updateTraveler({{traveler.id}});">Update</button>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
                <script src="../assets/js/app.js"></script>
                <script src="../assets/js/create-profile.js"></script>
        </body>

</html>
