<html>
<head>
	<meta charset="utf-8">
	<title>What's Your Six? | Update Hotel</title>
                <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
                <link rel="stylesheet" href="../assets/css/create-profile.css">	

	</head>
<body>

<h3>Update {{hotel.name}}'s Attributes:</h3>
<form id="update-hotel" action="/hotel" method="post">
	Hotel Name: <input type="text" name="name" value="{{hotel.name}}"><br>
    	Phone Number: <input type="text" name="phone_number" value="{{hotel.phone_number}}"><br>
	City: <select name="city_id" id="city-selector"> 
        {{#each cities}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
</select><br>
</form>
<button onclick="updateHotel({{hotel.id}});">Update</button>
<script defer>selectCity({{hotel.city_id}});</script>


                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
                <script src="../assets/js/app.js"></script>
                <script src="../assets/js/create-profile.js"></script>
        </body>

</html>
