<html>
<head>
	<meta charset="utf-8">
	<title>What's Your Six? | Update Traveler</title>
	        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
                <link rel="stylesheet" href="../assets/css/create-profile.css">
	</head>
<body>

<h3>Update {{traveler.name}}'s Attributes:</h3>
<form id="update-traveler" action="/traveler" method="post">
    Traveler Name: <input type="text" name="name" value="{{traveler.name}}"><br>
    Street: <input type="text" name="address_street" value="{{traveler.address_street}}"><br>
	City: <input type="text" name="address_city" value="{{traveler.address_city}}"><br>
	State: <input type="text" name="address_state" value="{{traveler.address_state}}"><br>
	Zip Code: <input type="text" name="address_zip_code" value="{{traveler.address_zip_code}}"><br>
	Email: <input type="text" name="email_address" value="{{traveler.email_address}}"><br>
	Phone: <input type="text" name="phone_number" value="{{traveler.phone_number}}"><br>
</form>
<button onclick="updateTraveler({{traveler.id}});">Update</button>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
                <script src="../assets/js/app.js"></script>
                <script src="../assets/js/create-profile.js"></script>
        </body>

</html>
